# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata/.lock
.metadata/.plugins/org.eclipse.core.resources/.history/0/b0990c5946e900171329b467ed4080a4
.metadata/.plugins/org.eclipse.core.resources/.history/0/c0401c2cecea00171ee1e1d28413b73c
.metadata/.plugins/org.eclipse.core.resources/.history/10/c0fce40173eb00171a92be04f162f258
.metadata/.plugins/org.eclipse.core.resources/.history/10/c0fce40173eb00171a92be04f162f258
.metadata/.plugins/org.eclipse.core.resources/.history/0/d0f0190ce0ea00171ee1e1d28413b73c
.metadata/.plugins/org.eclipse.core.resources/.history/11/2099ed1b95eb00171016c19b75370c67
.metadata/.plugins/org.eclipse.core.resources/.history/11/f0ae838aa0eb00171016c19b75370c67
.metadata/.plugins/org.eclipse.core.resources/.history/12/50c3fb48ecea00171ee1e1d28413b73c
.metadata/.plugins/org.eclipse.core.resources/.history/12/30ea136f49e900171329b467ed4080a4
.gitattributes
.metadata/.plugins/org.eclipse.core.resources/.history/13/a01884349beb00171016c19b75370c67
.metadata/.plugins/org.eclipse.core.resources/.history/14/400cd3bbaaea00171e8589bee8f68d0a
